.App {
  text-align: center;
}

.lightTheme {
  --text--color: rgb(21, 21, 21);
  --paragraph--color: #555;
  --bg--color: #fff;
}
.darkTheme {
  --text--color: rgb(255, 255, 255);
  --paragraph--color: rgb(240, 240, 240);
  --bg--color: #111b20;
}
h2,
h1,
h3,
h4 {
  color: var(--text--color);
}
p {
  color: var(--paragraph--color);
}
body {
  background-color: var(--bg--color);
}
.card-body {
  background-color: var(--bg--color);
}
.card-body span {
  color: var(--paragraph--color);
}
.navbar {
  background-color: var(--bg--color);
  color: var(--paragraph--color);
}
label {
  color: var(--paragraph--color);
}
input {
  background-color: var(--bg--color);
  color: var(--paragraph--color);
}
.divider {
  color: var(--text--color);
}
.card {
  background-color: var(--bg--color);
}
.courseCard:hover {
  color: var(--card--hover);
}
.rightSideNav {
  color: var(--paragraph--color);
}
.dropdown ul {
  background-color: var(--bg--color);
}
button {
  color: var(--paragraph--color);
}
.dropdown-content,
.card-body {
  background-color: var(--text--color);
}
.card-body h3 {
  color: var(--bg--color);
}
